form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

form label {
    margin-top: 20px;
}

form input {
    margin-top: 4px;
    height: 30px;
    border-radius: 4px;
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 18px;
}

form button {
    margin-top: 16px;
    align-self: center;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.smileyLogo{
  position: absolute;
  top: 14px;
  right: 0;
  cursor: pointer;
}

.emojiContainer{
  position: absolute;
  z-index: 1;
  right: 0;
}