.sb-show-main.sb-main-padded {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
}

@media only screen and (max-width: 1440px) {
    html, body {
        font-size: 60% !important;
    }
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.6rem;
}